@model MoneyChanger

@{
    /**/
    
    Layout = "/Views/Shared/HeaderLogoOnly.cshtml";
}


@if (Model != null)
{
    <div class="col-md-5">
        <div class="col-md-12 moneyChangerContainer">
            <!--Money Changer Details-->
            <div class="thumbnail">
                <a href="/Assets/Images/TakaMC.png">
                    <img src="/Assets/Images/TakaMC.png" class="rounded" alt="Cinque Terre" width="800" height="500" frameborder="0" style="border:0"></img>
                </a>
            </div>
            <div class="mcDetailDiv">
                <h3 id="moneyChangerName">@Model.Name</h3>
                <img src="/Assets/Images/clock.png" class="detailIcon">
                <label class="moneyChangerDetails mcDetailLbl">@Model.OpeningHours</label><br />
                <img src="/Assets/Images/phone.png" class="detailIcon">
                <label class="moneyChangerDetails mcDetailLbl">@Model.ContactNumber</label><br />
                <img src="/Assets/Images/location.png" class="detailIcon" id="locationIcon">
                <label class="moneyChangerDetails mcDetailLbl" id="detailLocationLbl">@Model.Location</label>
            </div>
            <!--Map display-->
            @if (Model.PostalCode != null)
            {
                string postalCode = "https://www.google.com/maps/embed/v1/place?q=" + Model.PostalCode + "&key=AIzaSyDORpCcy-EEX3CVLnhMK0Pi2l5v0r56KkY";
                <iframe class="col-md-12"frameborder="0" style="border:0; padding:0px; height:50%" src="@postalCode" ></iframe>
            }

        </div>
    </div>

    <div class="col-md-7" id="detailsTable">
        <div class="col-md-12 detailsTableContainer">
            <table class="table col-md-11 table-curved table-striped tableConfig">
                <thead>
                    <tr class="tableHeader">
                        <th>Currency</th>
                        <th>We Buy</th>
                        <th>We Sell</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ExchangeRates.Count() > 0)
                    {
                        cz2006anythingEntities entities = new cz2006anythingEntities();
                        foreach (var sellingRateExchangeFrom in Model.ExchangeRates.Where(z => z.ExchangeFromId == entities.Currencies.Where(x => x.Name == "SGD").FirstOrDefault().Id))
                        {
                            var sellingExchangeTo = entities.Currencies.Where(z => z.Id == sellingRateExchangeFrom.ExchangeToId).FirstOrDefault();
                            var buyingRateExchangeFrom = entities.ExchangeRates.Where(z => z.ExchangeFromId == sellingExchangeTo.Id).FirstOrDefault();
                            <tr>
                                <td>
                                    <img src="@sellingExchangeTo.Flag" class="tableCtyIcon" /><label class="tableFlagIcon">@sellingExchangeTo.Name</label>
                                    <div class="lastUpdatedTimeStyleDetails">@(((Anything.Controllers.HomeController)this.ViewContext.Controller).CalculateDate(sellingRateExchangeFrom.LastUpdated))</div>
                                </td>
                                <td><input type="text" class="currencyInput" value="1" id="@(sellingExchangeTo.Name+"SGD")" /> @sellingExchangeTo.Name <br />= @Math.Round(buyingRateExchangeFrom.Rate,4) SGD</td>
                                <td><input type="text" class="currencyInput" value="1" id="@("SGD"+sellingExchangeTo.Name)" /> SGD <br />= @Math.Round(sellingRateExchangeFrom.Rate,4) @sellingExchangeTo.Name</td>
                            </tr>
                            <script>
                                $("#@(sellingExchangeTo.Name+"SGD")").on('input', function () {

                                    $(this).parent().contents().filter(function () {
                                        return this.nodeType === 3;
                                    }).remove();
                                    $(this).parent().find("br").remove();
                                    $(this).parent().append(" @sellingExchangeTo.Name ");
                                    $(this).parent().append("<br />= ");
                                    var amount = ($(this).val() * @buyingRateExchangeFrom.Rate).toFixed(4);
                                    $(this).parent().append(amount);
                                    $(this).parent().append(" SGD");
                                });
                                $("#@("SGD"+sellingExchangeTo.Name)").on('input', function () {

                                    $(this).parent().contents().filter(function () {
                                        return this.nodeType === 3;
                                    }).remove();
                                    $(this).parent().find("br").remove();
                                    $(this).parent().append(" SGD ");
                                    $(this).parent().append("<br />= ");
                                    var amount = ($(this).val() * @sellingRateExchangeFrom.Rate).toFixed(4);
                                    $(this).parent().append(amount);
                                    $(this).parent().append(" @sellingExchangeTo.Name");
                                });
                            </script>

                        }
                    }
                </tbody>
            </table>
            <div class="col-md-1"></div>
        </div>
    </div>
}
else
{
    <h1> Money Changer Not Found </h1>
}