@model MoneyChanger
@{
    /**/

    Layout = "/Views/Shared/HeaderLogoOnly.cshtml";
}


@if (Model != null)
{
    <div class="col-md-5">
        <div class="col-md-12 moneyChangerContainer">
            <!--Money Changer Details-->
            <div class="thumbnail">
                <a href="/Assets/Images/TakaMC.png">
                    <img src="/Assets/Images/TakaMC.png" class="rounded" alt="Cinque Terre" width="800" height="500" frameborder="0" style="border:0"></img>
                </a>
            </div>
            <div class="mcDetailDiv">
                <h3 id="moneyChangerName">@Model.Name</h3>
                <img src="/Assets/Images/clock.png" class="detailIcon">
                <label class="moneyChangerDetails mcDetailLbl">@Model.OpeningHours</label><br />
                <img src="/Assets/Images/phone.png" class="detailIcon">
                <label class="moneyChangerDetails mcDetailLbl">@Model.ContactNumber</label><br />
                <img src="/Assets/Images/location.png" class="detailIcon" id="locationIcon">
                <label class="moneyChangerDetails mcDetailLbl" id="detailLocationLbl">@Model.Location</label>
            </div>
            <!--Map display-->
            @if (Model.PostalCode != null)
            {
                string postalCode = "https://www.google.com/maps/embed/v1/place?q=" + Model.PostalCode + "&key=AIzaSyDORpCcy-EEX3CVLnhMK0Pi2l5v0r56KkY";
                <iframe class="col-md-12"frameborder="0" style="border:0; padding:0px; height:50%" src="@postalCode" ></iframe>
            }

        </div>
    </div>

    <div class="col-md-7">
        <table class="table tableConfig">
            <thead>
                <tr class="tableHeader" style =" border-radius: 5px;">
                    <th>Currency</th>
                    <th align="center">We Buy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th align="center">We Sell</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="/Assets/Images/VND.png" class="tableCtyIcon" /><a class="tableFlagIcon">Vietnamese Dong</a>
                    </td>
                    <td><input type="text" class="currencyInput" size="2" placeholder="1"/> VND <br />= 0.333 SGD</td>
                    <td><input type="text" class="currencyInput" size="2" placeholder="1"/> SGD <br />= 3.21 VND</td>
                </tr>
                <tr>
                    <td>
                        <img src="/Assets/Images/AUD.png" class="tableCtyIcon" /><a class="tableFlagIcon">Australian Dollars</a>
                    </td>
                    <td>1.01</td>
                    <td>0.93</td>
                </tr>
                <tr>
                    <td>
                        <img src="/Assets/Images/MYR.png" class="tableCtyIcon" /><a class="tableFlagIcon">Malaysia Ringgit</a>
                    </td>
                    <td>1.63</td>
                    <td>1.83</td>
                </tr>
                <tr>
                    <td>
                        <img src="/Assets/Images/USD.png" class="tableCtyIcon" /><a class="tableFlagIcon">United States Dollars</a>
                    </td>
                    <td>1.03</td>
                    <td>0.83</td>
                </tr>
                <tr>
                    <td>
                        <img src="/Assets/Images/INR.png" class="tableCtyIcon" /><a class="tableFlagIcon">Indian Rupee</a>
                    </td>
                    <td>120.2</td>
                    <td>119.4</td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <h1> Money Changer Not Found </h1>
}


@*<div class="container">
        Offered Exchange Rates
        <div class="col-sm-6 col-md-6"></div>
        @if (Model.ExchangeRates.Count() > 0)
        {
            cz2006anythingEntities entities = new cz2006anythingEntities();
            foreach (var exchangeRates in Model.ExchangeRates)

            {
                var exchangeFrom = entities.Currencies.Where(z => z.Id == exchangeRates.ExchangeFromId).FirstOrDefault();
                var exchangeTo = entities.Currencies.Where(z => z.Id == exchangeRates.ExchangeToId).FirstOrDefault();
                <div class="col-sm-6 col-md-6">
                    <h4><img src="@exchangeFrom.Flag" />@exchangeFrom.Name</h4>
                    <h4><img src="@exchangeTo.Flag" />@exchangeTo.Name</h4>
                    <h4>@exchangeRates.Rate</h4>
                </div>
            }
        }
    </div>*@